<!DOCTYPE html>
<html lang="en-us">
	<head>
		<%- include ('head.ejs') %>
		<title>LMS - 404</title>
	</head>
	<body>
		<%- include ('header.ejs') %>
		404 Not Found.
		<%- include ('footer.ejs') %>
	</body>
</html>