#path-toolbar td {
	border: solid 1px #CCC;
}
#folder-path {
	display: block;
	border: groove 2px #AAA;
	margin: 0px;
	padding: 2px;
}
#folder-path a {
	border-style: solid;
	border-width: 1px;
	border-color: #FFF;
	color: #333; 
}
#folder-path a:hover {
	border-color: #CCC;
	color: #0AF;
}
#files {
	height: auto;
}
#files table {
	width: 100%;
}
#files tr {
}
#files td {
	border-top: solid 1px #C0C0C0;
}

.menu-wrapper span {
	display: block;
	position: relative;
	box-sizing: border-box;
	padding: 0px 4px 0 0;
}
.menu-wrapper span button {
	display: block;
	width: 26px;
	height: 38px;
	border: solid 1px gray;
	background: white;
	color: black;
}
#context-menu {
	display: none;
}
.menu-wrapper #context-menu {
	display: block;
	position: absolute;
	background: white;
	top: 0;
	left: 100%;
	z-index: 1;
}
.menu-wrapper #context-menu a {
	display: block;
	border: solid 1px gray;
	text-align: center;
	padding: 4px 16px;
}
.menu-wrapper #context-menu a:hover {
	background: #00A0F0;
}
.menu-wrapper #context-menu #cm-close {
	padding: 0;
}
.menu-wrapper #cm-watch {color: gray;}
.watchable #cm-watch {color: black;}
.menu-wrapper #cm-edit {color: gray;}
.editable #cm-edit {color: black;}

.FileLink {
	width: 100%;
}
.FileImg img {
	display: block;
	margin: 4px 4px 4px 0;
}

#files a {
	font-size: 13pt;
	font-family: 'Segoe UI', 'Tahoma', 'Verdana', 'Arial', sans-serif;
	font-weight: 300;
	vertical-align: middle;
}
.color-1 {
	background: white;
}
.color-2 {
	background: #E0E0E0
}
